h1.title.name{
    margin: 20px auto;
}
p.title.text{
    margin: 14px;
    line-height: 18px
}
chat.window{
    width: 100%;
    background-color: #161428;
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-gap: 3px;
    box-sizing: border-box;
}
chat.message{
    max-width: 85%;
    background-color: #ffffff;
    line-height: 20px;
    padding: 5px 12px;
    position: relative;
}
chat.message.right{
    margin: 0 0 0 auto;
    border-radius: 7px 7px 0 7px;
}
chat.message.left{
    margin: 0 auto 0 0;
    border-radius: 7px 7px 7px 0;
}
chat.reply{
    display: block;
    background-color: #f3f3f3;
    width: 100%;
    box-sizing: border-box;
    padding: 2px 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: 2px solid #3f3f3f;
}
chat l{
    color: #006eff;
    font-weight: 500;
}